// Place all the styles related to the sandbox controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.failed {
  //color: #c12e2a;
  color: #d9534e;
}
.success {
  color: #5cb85c;
}
.default {
  color: #666;
}
.ChangedByApaclocal{
  color: #f0ad4e!important;
}

.allsuccess td {
  background-color: #8FE293;
}

#current_status h1 {
  font-size: 6.5em;
  padding: 0;
  margin: 0.2em 0;
  font-weight: bold;
}
#current_status .thumbnail {
  height: 14em;
  padding: 1.5em;
  color: #999;
  font-family: 'Roboto Condensed', sans-serif;
  border: 0;
  box-shadow: none;
}
.data-style-1 {
  font-size: 3em;
  font-weight: bold;
  color: #666;
}
div#changed_by {
  width: 150px;
  position: absolute;
  right: 0;
  top: 100px;
  padding-right: 0;
}
#changed_by img {
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px #333;
}